.route{
  height: auto;
}
.fonto{
  font-family:sans-serif;
}
.cloche{
  font-size: 1.7em;
}
.icono{
  font-size: 2.3em;
}
.imge{
  width: 90px;
}
.imge img{
  width: 100%;
  height: 100%;
}
.longeur{
  width: 90%;
  margin: auto;
  background-color: #005898;
  height: 200px;
}
.click:hover{
  background-color: black;
  color: #fff;
  border-radius: 15px;
}














/************************ Media Queries *********************/

@media screen and (max-width : 1122px) {
  .nom h1{
    font-size: 20px;
  }
  
}
@media screen and (max-width : 870px) {
  .nom p, h1{
    display: none;
  }
  .imge{
    margin: auto;
  }
  
}
@media screen and (max-width : 640px) {
  .nom{
    display: none;
  }
  .cloche{
    margin-left: 20px;
  }
  .inp{
    display: none;
  }
}